@page "/Garantias/Editar_Garantia/{Id:int}"
@inject HttpClient http
@inject NavigationManager navegator
@using Actividad17.Shared.Models

<h3>Editar Garantia</h3>
<EditForm Model="cli" OnValidSubmit="Editar">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label for="dtVigencia" class="form-label">Vigencia</label>
        <InputDate id="dtVigencia" class="form-control" @bind-Value="cli.Vigencia" />
    </div>
    <div class="mb-3">
        <label for="dtVigencia" class="form-label">Fecha de Inicio</label>
        <InputDate id="dtVigencia" class="form-control" @bind-Value="cli.FechaG" />
    </div>
    <div class="mb-3">
        <label for="numIdServicio" class="form-label">Id del Servicio</label>
        <InputNumber id="numIdServicio" class="form-control" @bind-Value="cli.ServiciosId" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</EditForm>


@code {
    [Parameter]
    public int Id { get; set; }
    private Garantias cli = new Garantias();

    protected override async Task OnInitializedAsync()
    {
        cli = await http.GetFromJsonAsync<Garantias>($"api/Garantias/{Id}");
    }

    private async void Editar()
    {
        await http.PutAsJsonAsync($"api/Garantias/{Id}", cli);
        navegator.NavigateTo("/garantias");
    }
}