@inject HttpClient http
@inject NavigationManager navegar
@using Actividad17.Shared.Models
@page "/garantias"

<h3>Garantias</h3>


<button class="btn btn-primary" @onclick=Agregar><span class="oi oi-plus"> Nuevo Garantia</span></button>
@if(l == null)
{
    <h4>Cargando...</h4>
}else if(l.Count == 0)
{
    <h4>No existen Registros</h4>
}
else
{
    <table class="table table-primary">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha de Inicio</th>
                <th>Vigencia de la Garantia</th>
                <th>Id del Servicio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Garantias c in l)
            {
                <tr>
                    <td>@c.Id</td>
                    <td>@c.FechaG</td>
                    <td>@c.Vigencia</td>
                    <td>@c.ServiciosId</td>
                    <td><button class="btn btn-primary" @onclick="(()=>Editar(Convert.ToInt32(c.Id)))"><span class="oi oi-copywriting"> Editar</span></button></td>
                    <td><button class="btn btn-danger" @onclick="(()=>Eliminar(c))"><span class="oi oi-trash"> Eliminar</span></button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Garantias> l = new List<Garantias>();

    protected override async Task OnInitializedAsync()
    {
        l = await http.GetFromJsonAsync<List<Garantias>>("api/Garantias");
    }
    public void Agregar()
    {
        navegar.NavigateTo("/Garantias/Nuevo_Garantia");
    }
    public async Task Eliminar(Garantias cli)
    {
        await http.DeleteAsync($"api/Garantias/{cli.Id}");
        l.Remove(cli);
    }

    private void Editar(int Id)
    {
        navegar.NavigateTo($"/Garantias/Editar_Garantia/{Id}");
    }
}
